/*@font-face { font-family: Helvetica Neue; src: url('../fonts/HelveticaNeueLight.ttf'); }*/

@font-face {
    /* font-family: Helvetica Neue;
    src: url('../../assets/fonts/HelveticaNeueLTStd-Roman.otf'); */
}

body {
    /* font-family: Helvetica Neue;
    color: #666666; */
   
               
}
